.wrapper {
  padding: 0px 10px;
  flex-grow: 1;
  background-color: #e8e8e8;
  height: 100%;
}
@media (min-width:960px) {
    .wrapper {
        margin-left: 260px;
        padding: 0px 10px 0px 10px;
    }
}

